/* Navbar styles */
.navbar {
    background-color: #333;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-list li {
    margin: 0 20px;
  }
  
  .navbar-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navbar-list li a:hover {
    color: #f1c40f;
  }
  